<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact can be done through
  <ul>
  	<li><a href="#">e-mail</a></li>
  	<li><a href="#">Facebook</a></li>
  	<li><a href="#">Twitter</a></li>
  	<li><a href="#">G+</a></li>
  	<li><a href="#">555-555-555</a></li>
  	<li><a href="#">P.O. Box 54127</a></li>
  </ul>
</p>