<% provide(:title, 'Demo') %>

<div class="box-container row">
	<div class="box color1"></div>
	<div class="box color2"></div>
	<div class="box color3"></div>
	<div class="box color4"></div>
	<div class="box color5"></div>
	<div class="box color6"></div>
	<!-- blue scale -->
	<div class="box color7"></div>
	<div class="box color8"></div>
	<div class="box color9"></div>
	<div class="box color10"></div>
	<div class="box color11"></div>
	<div class="box color12"></div>
	<div class="col-xs-12">
		<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
			Launch demo
		</button>

		<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myTest">
			Launch Test
		</button>
	</div>
</div>

<!-- Modal window -->
<%= render 'shared/modal_message_info', tag_id: "myModal", titulo: "Custom message!", contenido: "Hello, we're currently working in this website so you can have our assistance, sorry for our inconvenience." %>

<%= render 'shared/modal_message_info', tag_id: "myTest", titulo: "Testing this", contenido: "Hello world! I am just testing the site functionality!!!" %>