<% provide(:title, 'Help') %>

<h1>Help</h1>

<div class="box-container">
	<p>
		If you're having problems to contact us, you can send us an e-mail <a href="#">here</a> or contact us at <b>5555-555-555</b>
	</p>
</div>
