<% provide(:title, 'Home') %>
<div class="center  hero-unit">
	<h1>Legal Consulting Online</h1>

	<h2>This is a temporal web site fo legal consulting, for more information <%= link_to "click here", contact_path %></h2>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt:"LCO"), "#" %>